
H1 {
    color: blue;
    font-size:40px;
    background-color: beige;
}
p{
    color: darkcyan;
    font-size: 34;
    background-color: transparent;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  p1{
    color: crimson;
    font-size: 34;
    background-color: transparent;
}


 
 
  